.container
  uib-tabset(active="active")
    uib-tab(index="0" heading="todo")
      table.table.table-hover
        thead
          tr
            th.col-sm-5 task
            th.col-sm-2 group
            th.col-sm-2 due
            th.col-sm-1 owner
            th.col-sm-1
        tbody
          tr
            td
              .input-group
                span.input-group-addon
                  i.glyphicon.glyphicon-unchecked
                input.form-control(type="text" ng-model="todoCtrl.newTodo.name")
            td
              .input-group
                span.input-group-btn(uib-dropdown)
                  button#single-button.btn.btn-default(type="button" uib-dropdown-toggle ng-disabled="disabled")
                    span.caret
                  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="single-button")
                    li(role="menuitem" ng-repeat="group in todoCtrl.groups" ng-click="todoCtrl.newTodo.group = group")
                      a {{ group }}
                input.form-control(type="text" ng-model="todoCtrl.newTodo.group")
            td
              .input-group
                span.input-group-btn(uib-dropdown)
                  button.btn.btn-default(id="group{{ $index }}" type="button" uib-dropdown-toggle ng-disabled="disabled")
                    span.caret
                  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="delay")
                    li(role="menuitem" ng-click="todoCtrl.delay(todoCtrl.newTodo, 10, 'minutes')")
                      a(href="#") + 10 min
                    li(role="menuitem" ng-click="todoCtrl.delay(todoCtrl.newTodo, 1, 'hours')")
                      a(href="#") + 1 hour
                    li(role="menuitem" ng-click="todoCtrl.delay(todoCtrl.newTodo, 1, 'days')")
                      a(href="#") + 1 day
                  button.btn.btn-default(href="#" editable-bsdate="todoCtrl.newTodo.due" e-is-open="todoCtrl.datePickerOpen['edit']" e-ng-click="todoCtrl.toggleDatePicker($event, 'edit')" e-datepicker-popup="yyyy/MM/dd") {{ (todoCtrl.newTodo.due | date : 'yyyy/MM/dd ') || 'empty' }}
                  button.btn.btn-default(href="#" editable-bstime="todoCtrl.newTodo.due" e-show-meridian="false"  e-minute-step="5") {{ (todoCtrl.newTodo.due | date : 'HH:mm') || 'empty' }}
                  button.btn.btn-default(ng-click="todoCtrl.repeatSetting(todoCtrl.newTodo)")
                    i.glyphicon.glyphicon-repeat
            td
            td
              button.btn.btn-primary(ng-click="todoCtrl.addTodo()")
                i.glyphicon.glyphicon-plus
        tbody(ng-repeat="(key, value) in todoCtrl.uncompletedTodos | groupBy: 'group'")
          tr.success(ng-click="isCollapsed = !isCollapsed")
            td(colspan="5")
              strong {{ key }} &nbsp;
              span.badge {{ value.length }}
              span.glyphicon.glyphicon-chevron-down.pull-right(ng-show="isCollapsed")
              span.glyphicon.glyphicon-chevron-up.pull-right(ng-hide="isCollapsed")
          tr(uib-collapse="isCollapsed" ng-repeat="todo in value")
            td
              .input-group
                span.input-group-addon
                  input(type="checkbox" ng-model="todo.done" ng-change="todoCtrl.updateTodo(todo)")
                a.form-control(href="#" editable-text="todo.name" onaftersave="todoCtrl.updateTodo(todo)") {{ todo.name || 'empty' }}
            td
              .input-group
                span.input-group-btn(uib-dropdown)
                  button.btn.btn-default(id="group{{ $index }}" type="button" uib-dropdown-toggle ng-disabled="disabled")
                    span.caret
                  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="group{{ $index }}")
                    li(role="menuitem" ng-repeat="group in todoCtrl.groups" ng-click="todo.group = group; todoCtrl.updateTodo(todo)")
                      a {{ group }}
                a.form-control(href="#" editable-text="todo.group" onaftersave="todoCtrl.updateTodo(todo)") {{ todo.group || 'empty' }}
            td
              .input-group
                span.input-group-btn(uib-dropdown)
                  button.btn.btn-default(id="group{{ $index }}" type="button" uib-dropdown-toggle ng-disabled="disabled")
                    span.caret
                  ul.dropdown-menu(uib-dropdown-menu role="menu" aria-labelledby="delay")
                    li(role="menuitem" ng-click="todoCtrl.delay(todo, 10, 'minutes')")
                      a(href="#") + 10 min
                    li(role="menuitem" ng-click="todoCtrl.delay(todo, 1, 'hours')")
                      a(href="#") + 1 hour
                    li(role="menuitem" ng-click="todoCtrl.delay(todo, 1, 'days')")
                      a(href="#") + 1 day
                  button.btn.btn-default(href="#" editable-bsdate="todo.due" e-is-open="todoCtrl.datePickerOpen['edit']" e-ng-click="todoCtrl.toggleDatePicker($event, 'edit')" e-datepicker-popup="yyyy/MM/dd" onaftersave="todoCtrl.updateTodo(todo)") {{ (todo.due | date : 'yyyy/MM/dd ') || 'empty' }}
                  button.btn.btn-default(href="#" editable-bstime="todo.due" e-show-meridian="false" e-minute-step="5" onaftersave="todoCtrl.updateTodo(todo)") {{ (todo.due | date : 'HH:mm') || 'empty' }}
                  button.btn.btn-default(ng-click="todoCtrl.repeatSetting(todo)")
                    i.glyphicon.glyphicon-repeat
            td {{ todo.user.name }}
            td
              button.btn.btn-danger(ng-click="todoCtrl.deleteTodo(todo)")
                i.glyphicon.glyphicon-trash
    uib-tab(index="1" heading="completed")
      table.table.table-hover
        thead
          tr
            th.col-sm-1
            th.col-sm-3 task
            th.col-sm-2 group
            th.col-sm-2 due
            th.col-sm-2 completed
            th.col-sm-1 owner
            th.col-sm-1
        tbody
          tr(ng-repeat="todo in todoCtrl.completedTodos")
            td
              input(type="checkbox" ng-model="todo.done" ng-change="todoCtrl.updateTodo(todo)")
            td {{ todo.name }}
            td {{ todo.group }}
            td {{ todo.due | date : 'yyyy/MM/dd HH:mm' }}
            td {{ todo.doneDate | date : 'yyyy/MM/dd HH:mm' }}
            td {{ todo.user.name }}
            td
              button.btn.btn-danger
                i.glyphicon.glyphicon-trash(ng-click="todoCtrl.deleteTodo(todo)")

script(type="text/ng-template" id="repeatSetting.pug")
  .modal-body#modal-body
    .container
      form.form-horizontal
        .form-group
          label.control-label.col-xs-2 repeat
          button.btn.btn-default(ng-model="modalCtrl.todo.repeat" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0") on
        .form-group(ng-show="modalCtrl.todo.repeat")
          label.control-label.col-xs-2 type
          .btn-group
            button.btn.btn-default(ng-model="modalCtrl.todo.repeatType" uib-btn-radio="'DueDate'") Due Date
            button.btn.btn-default(ng-model="modalCtrl.todo.repeatType" uib-btn-radio="'Complete'") Complete
        .form-group(ng-show="modalCtrl.todo.repeat")
          label.control-label.col-xs-2 interval
          .row
            .col-xs-2
              select.form-control(ng-model="modalCtrl.todo.repeatInterval" ng-options="num as num for num in modalCtrl.intervals")
            .col-xs-2
              select.form-control(ng-model="modalCtrl.todo.repeatUnit")
                option(value="days") days
                option(value="weeks") weeks
                option(value="months") months
                option(value="years") years
  .modal-footer
      button.btn.btn-primary(ng-click="modalCtrl.ok()") OK
      button.btn.btn-warning(ng-click="modalCtrl.cancel()") Cancel
